<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/home_styles.css' %}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h1 class="logo"><a href="{% url 'home' %}">Hilltop Tuition</a></h1>
            <div class="hamburger" onclick="toggleNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-link" id="navLinks">
                <a href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </nav>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; <span id="year"></span> Hilltop Tuition</p>
        </div>
    </footer>
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
        function toggleNav() {
            const navLinks = document.getElementById('navLinks');
            navLinks.classList.toggle('show');
        }
    </script>
</body>
</html>
