{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="image-entry">
    <img src="{% static 'home/media/logo.jpg' %}" alt="Logo">
</div>

<!-- Review Marquee-->
<div class="marquee-container">
    <div class="marquee">
        <div class="marquee-content">
            {% for review in reviews %}
            <span class="review"><em>{{ review.text }}</em></span>
            {% endfor %}
        </div>
        <div class="marquee-content">
            {% for review in reviews %}
            <span class="review"><em>{{ review.text }}</em></span>
            {% endfor %}
        </div>
    </div>
</div>

<div class="custom-home-text-container">
    {% for content in home_content %}
        <h1>{{ content.title }}</h1>
        <p>{{ content.paragraph }}</p>
    {% endfor %}
    <h1>Our Tutors</h1>
</div>

<!-- Carousel Container -->
<div class="carousel-container">
    <div class="carousel-track">
        {% for tutor in tutors %}
        <!-- Each 'slide' in the carousel -->
        <div class="carousel-slide">
            <div class="tutor-info">
                <img 
                  src="{{ tutor.photo.url }}" 
                  alt="{{ tutor.name }}"
                  class="tutor-photo"
                />
                <h3>{{ tutor.name }}</h3>
                <p>Subject: {{ tutor.expertise }}</p>
                <p>{{ tutor.about }}</p>
                <p><em>{{ tutor.review }}</em></p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Carousel Navigation Buttons -->
    <button class="carousel-button prev-button">&#10094;</button>
    <button class="carousel-button next-button">&#10095;</button>
</div>
<script src="{% static 'home/script.js' %}"></script>

{% endblock %}
